<body class="apropos">
<nav class="navbar navbar-inverse navbar-static-top about">
         
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to (image_tag("logo.JPG", class: "logo")), root_path %>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="https://www.paypal.com/fr/cgi-bin/webscr">Faire un don</a></li>
            <li role="presentation"><%= link_to "A propos",  about_path %></li>
            
          </ul>
            </div>
          
        </nav>
<div class=" about">
  <div class="navbar-wrapper">
      <div class="container">

        <div class="text-center"><h2 class="title.about">Notre mission</h2></div>

        <div class="text-center">
        	<p class="mission">Nous avons fondé Al amaana pour aider les villages des îles des comores à obtenir une eau saine pour les besoins de la vie courante. Notre mission consiste à installer des citernes d'eau. En plus de cela nous mettons en place un pôle d'éducation pour donner un avenir meilleur à des milliers d'enfants laissés sans réelle structure éducative. </p>
        </div>

	      <div class="text-center"><h2 class="title.about">Notre équipe</h2></div>   

      </div>
  </div>     
</div>
<div class="container marketing about">
		<div class="row" id="profile">
		       
		        <div class="col-lg-2 col-lg-offset-2">
		          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
		           <div class="text-center"><h3>Iboune</h3></div>
		          
		        </div><!-- /.col-lg-4 -->
		        <div class="col-lg-2 ">
		          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
		           <div class="text-center"><h3>Qalilullah</h3></div>
		          
		          
		        </div><!-- /.col-lg-4 -->

		        <div class="col-lg-2">
		          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
		           <div class="text-center"><h3>Djamil</h3></div>
		          
		          
		        </div>

		        <div class="col-lg-2">
		          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
		           <div class="text-center"><h3>Kemal</h3></div>
		          
		          
		        </div>
		        
		 </div><!-- /.row -->

		 <div class="row">
		       
		        <div class="col-lg-2 col-lg-offset-2">
		          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
		           <div class="text-center"><h3>Yassin</h3></div>
		          
		        </div><!-- /.col-lg-4 -->
		        <div class="col-lg-2 ">
		          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
		           <div class="text-center"><h3>Mohammed</h3></div>
		          
		          
		        </div><!-- /.col-lg-4 -->

		        <div class="col-lg-2">
		          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
		         <div class="text-center"><h3>Ilyes</h3></div>
		          
		          
		        </div>

		        <div class="col-lg-2">
		          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
		           <div class="text-center"><h3>Salman</h3></div>
		          
		          
		        </div>
		        
		 </div><!-- /.row -->
	<footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Al Amaana. &middot; <a href="#">Mentions légales</a> &middot; <a href="#">Qui nous sommes ?</a> <a href="#">Contact</a></p>
        <div class="text-center">
          <p class="social">
            <a href=""><img src="assets/youtube.png" class="youtube"></a><a href="https://www.facebook.com/Alamaana974?ref=br_rs" target="_blank"><img src="assets/facebook.png" class="youtube"></a>
          </p>
        </div>
      </footer>
</div>

</body>