<body class="apropos">
<nav class="navbar navbar-inverse navbar-static-top about">
         
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to (image_tag("logo.JPG", class: "logo")), root_path %>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="paiement.html">Faire un don</a></li>
            <li role="presentation"><%= link_to "A propos",  about_path , class: "btna"%></li>
            
          </ul>
            </div>
          
        </nav>
<div class=" about">
  <div class="navbar-wrapper">
      <div class="container">

        <div class="text-center"><h2 class="title.about">Notre mission</h2></div>

        <div class="text-center">
        	<p class="mission"> Al amaana est une association humanitaire à but non lucratif. Elle a pour mission principale d'aider les plus démunis en commençant par les besoins vitaux. Actuellement, l'association se focalise sur la construction de citernes afin de pourvoir de l'eau propre et potable aux populations reculées. </p>
        </div>

        <div class="text-center"><h2 class="title.about">Historique</h2></div>

        <div class="text-center">
        	<p class="mission"> Tout commence en 2014 par un frère nous exposant la situation alarmante de son village d'origine au Comores, concernant l'état catastrophique de l'eau et le manque de système de filtration et de purification. Après étude de la situation nous nous somme aperçus que cela n'était pas un cas isolé dans l'archipel. Ainsi le besoin urgent de créer une association est apparu afin de palier ce fléau généralisé et ainsi limiter les conséquences sanitaires désastreuses que cela engendraient déjà. </p>
        </div>

	      <div class="text-center"><h2 class="title.about">Notre équipe</h2></div>   

      </div>
  </div>     
</div>
<div class="container marketing about">
		<div class="row" id="profile">
		       
		        <div class="col-lg-2 col-lg-offset-2">
		          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
		           <div class="text-center"><h3>Iboune</h3></div>
		          
		        </div><!-- /.col-lg-4 -->
		        <div class="col-lg-2 ">
		          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
		           <div class="text-center"><h3>Qalilullah</h3></div>
		          
		          
		        </div><!-- /.col-lg-4 -->

		        <div class="col-lg-2">
		          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
		           <div class="text-center"><h3>Djamil</h3></div>
		          
		          
		        </div>

		        <div class="col-lg-2">
		          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
		           <div class="text-center"><h3>Kemal</h3></div>
		          
		          
		        </div>
		        
		 </div><!-- /.row -->

		 <div class="row">
		       
		        <div class="col-lg-2 col-lg-offset-2">
		          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
		           <div class="text-center"><h3>Yassin</h3></div>
		          
		        </div><!-- /.col-lg-4 -->
		        <div class="col-lg-2 ">
		          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
		           <div class="text-center"><h3>Mohammed</h3></div>
		          
		          
		        </div><!-- /.col-lg-4 -->

		        <div class="col-lg-2">
		          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
		         <div class="text-center"><h3>Ilyes</h3></div>
		          
		          
		        </div>

		        <div class="col-lg-2">
		          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
		           <div class="text-center"><h3>Salman</h3></div>
		          
		          
		        </div>
		        
		 </div><!-- /.row -->
	<footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Al Amaana. &middot; <a href="#">Mentions légales</a> &middot; <a href="#">Qui sommes nous ?</a> <a href="#">Contact</a></p>
        <div class="text-center">
          <p class="social">
            <a href=""><img src="assets/youtube.png" class="youtube"></a><a href="https://www.facebook.com/Alamaana974?ref=br_rs" target="_blank"><img src="assets/facebook.png" class="youtube"></a>
          </p>
        </div>
      </footer>
</div>

</body>