<div class="jumbotron">
  <div class="navbar-wrapper">
     

        <nav class="navbar navbar-inverse navbar-static-top">
         
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to (image_tag("logo.JPG", class: "logo")), root_path %>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="https://www.paypal.com/fr/cgi-bin/webscr">Faire un don</a></li>
            <li role="presentation"><%= link_to "A propos",  about_path %></li>
            
          </ul>
            </div>
          
        </nav>

      
  </div>

    <div class="container">
       <div class="text-center"><h1 class="punchline">Une eau saine le début d'une vie saine </h1></div>
  </div>      
</div>
<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="text-center"><h2 class="what">A quoi oeuvrons nous ?</h2></div>
        <div class="col-lg-4 col-lg-offset-2">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Eau</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-lg-offset-1">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Education</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          
        </div><!-- /.col-lg-4 -->
        
      </div><!-- /.row -->


      


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Al Amaana. &middot; <a href="mentions.html">Mentions légales</a> &middot; <a href="about.html">Qui nous sommes ?</a> <a href="#">Contact</a></p>
        <div class="text-center">
          <p class="social">
            <a href=""><img src="assets/youtube.png" class="youtube"></a><a href="https://www.facebook.com/Alamaana974?ref=br_rs" target="_blank"><img src="assets/facebook.png" class="youtube"></a>
          </p>
        </div>
      </footer>


    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
<!--<nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <%= link_to (image_tag("logo.JPG", class: "logo")), root_path %>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <li role="presentation" class="active"><a href="https://www.paypal.com/fr/cgi-bin/webscr?cmd=_flow&SESSION=bKyDUXhA1md6dIeDO9xLLoq3jjDLbXLBJcjF1lHALO_h6O9JMlz7HFdatim&dispatch=5885d80a13c0db1f8e263663d3faee8de6030e9239419d79c3f52f70a3ed57ec">Faire un don</a></li>
              <li role="presentation" class="linkabout"><%= link_to "A propos",  about_path %></li>
            </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav>
  <!--<div class="content">
    <div class="text-center" id="paypal">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="D7GBLX76Y5UXL">
        <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
      </form>
    </div>
  </div>
<div class="row">
  <div class="container">
    <div class="text-center"><h1>A quoi oeuvrons nous jhdfskl,tbgklrhkl,rglh,,lest,bkrgmbhkegkbhùlgkhùgtùhkegùhùlrgùnkùgmnhùmglùnlrgùhnùrglhùmrglùhml?</h1></div>
  </div>
</div>-->
