<div class="jumbotron">
  <div class="navbar-wrapper">
     

        <nav class="navbar navbar-inverse navbar-static-top">
         
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to (image_tag("logo.JPG", class: "logo")), root_path %>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="paiement.html">Faire un don</a></li>
            <li role="presentation"><%= link_to "A propos",  about_path, class: "btna"%></li>
           
            
            
          </ul>
            </div>
          
        </nav>

      
  </div>

    <div class="container">
       <div class="text-center"><h1 class="punchline">Participez à la construction de citernes d'eau pour les villages dans les îles Comores  </h1></div>
  </div>      
</div>
<div class="container marketing">

      
      <div class="row">
        <div class="text-center"><h2 class="what">A quoi oeuvrons nous ?</h2></div>
        <div class="col-lg-12">
          <p class="why">Al amaana est une association humanitaire à but non lucratif. Elle a pour mission principale d'aider les plus démunis en commençant par les besoins vitaux. Actuellement, l'association se focalise sur la construction de citernes afin de pourvoir de l'eau propre et potable aux populations les plus reculées.</p>
          
        </div>
        <!--<div class="col-lg-4 col-lg-offset-1">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Education</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          
        </div>-->
        
      </div>


      


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">retour vers le haut</a></p>
        <p class="">&copy; 2015 Al Amaana. &middot; <a href="mentions.html">Mentions légales</a> &middot; <a href="about.html">Qui nous sommes ?</a></p>
        <div class="text-center">
          <p class="social">
            <a href="https://youtu.be/UgP9CHMkkoI" target="_blank"><img src="assets/youtube.png" class="youtube"></a><a href="https://www.facebook.com/Alamaana974?ref=br_rs" target="_blank"><img src="assets/facebook.png" class="facebook"></a>
            <a href="https://twitter.com/alamaana974" target="_blank"><img src="assets/twitter.png" class="youtube"></a>
          </p>
        </div>
      </footer>


    </div><!-- /.container -->


    
