
<div class="row">
  
  <div class="col-lg-4 col-lg-offset-4">
 <div class="text-center"><h1>Faites un don</h1></div>
    <div class="form-row">
      <label>
        <span>Entrez votre somme</span>
         <input type="text" size="20" data-stripe="number" id="card_number" />
      </label>
    </div>
    <div class="actions">
      <button type="submit" class ="btn btn-lg btn-primary">envoyez </button>
    </div>
   </div> 
</div>