body.apropos
{
	background-color: whitesmoke;
}
.navbar.navbar-inverse.navbar-static-top.about
{
	background-color: white;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color:transparent;
}
.about
{
	height: 100%;
}
.navbar {
   position: relative;
   min-height: 50px;
   margin-bottom: 0px;
   border: 0px;
   
}
.nav-pills>li.active>a
{
	background-color: #ee6059!important;
}
a.btnabout
{
	color: #3276b1!important;
}
.nav>li>a:hover
{
	background-color: white;
}
#title.about
{
	margin-top: 60px!important;
	margin-bottom: 60px!important;
	color: red;
}
.mission
{
	font-size: 18px;
	font-weight: bold;
}
.container.marketing.about
{
	margin-top: 100px;
}
#profile
{
	margin-bottom: 60px;
}
.img-circle
{
	border:1px solid black;

}
h2.what
{
	margin-bottom: 40px;
	margin-top: 40px;
}